/* Outer Background */
.award-outer-container {
  background: #111;
  padding: 10px 10px;
  color: #fff;
}

#awards {
  margin: 100px;
  box-sizing: border-box;
}
/* Hero container */
.award-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #1c1c1c, #0d0d0d);
  padding: 40px;
  border-radius: 16px;
  border: 1px solid #333;
  box-shadow: 0 0 25px rgba(255, 215, 0, 0.15);
  flex-wrap: wrap;
}

/* Left text side */
.award-left {
  flex: 1;
  padding: 20px;
}

.award-left h1 {
  font-size: 48px;
  font-weight: 700;
  color: #f5d36b;
}

.award-year {
  font-size: 32px;
  margin: 8px 0 20px;
  color: #c8c8c8;
}

.award-text {
  max-width: 420px;
  font-size: 18px;
  color: #d6d6d6;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Event Tag */
.award-tag {
  display: inline-block;
  background: #f5d36b;
  color: #111;
  padding: 10px 22px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 700;
}

/* Right image side */
.award-right img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 14px;
  border: 3px solid #f5d36b;
  box-shadow: 0px 0px 25px rgba(255, 215, 0, 0.3);
}

/* Gallery Title */
.gallery-title {
  color: #f5d36b;
  text-align: center;
  margin: 50px 0 25px;
  font-size: 28px;
  font-weight: 600;
}

/* Gallery grid */
.award-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}

.award-gallery img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 14px;
  border: 2px solid #f5d36b;
  transition: 0.3s;
  box-shadow: 0 0 18px rgba(255, 215, 0, 0.25);
}

.award-gallery img:hover {
  transform: scale(1.05);
}
